.benefits{
   background: #FDF8F5;
   margin-bottom: 130px;
   height: 250px;
   font-family: 'Red Hat Display', sans-serif;

   &__row{
      height: 250px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center; 
   }
    
   &__column p{
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #555555;
      padding-top: 30px;
      text-align: center;
   } 

   .underline{
      font-weight: 700;
      font-size: 56px;
      line-height: 70px;
      color: #222222;
      border-bottom: 3px solid #222222;
      text-align: center;
         }
}
// 768px -1023.75px
@media (min-width: 768px) and (max-width: 1023.75px) {
   .benefits{
      margin-bottom: 80px;
   }
}

// 320px -769.75px
@media (min-width: 320px) and (max-width: 769.75px) {
   .benefits{
      background: #FDF8F5;
      margin-bottom: 80px;
      height: 550px;

         &__row{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
         }

         &__row{
            height: 550px;
         }
   }
}