a {
   text-decoration: none;
   }
.footer {
   padding-bottom: 52px;
   background: #FAFAFA;
   height: 327px;

   &__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }
   &__logo {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 327px;
      a{
      font-style: italic;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      text-decoration-line: underline;
      color: #222222;
   }
}
   &__paragraph {
      max-width: 326px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #555555;

   }
   &__links {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 200px;
      a{
         color: #222222;

      }
   }
   &__item li{
      padding-bottom: 20px;
   }
   &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #222222;
      padding-bottom: 75px;
      
   }
   &__contacts {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      // justify-content: space-between;
      height: 200px;
      // padding-bottom: 20px;
   }

   &__email {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #222222;
      padding-bottom: 20px;
      a{
         color: #222222;
      }
   }
   &__telephone {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #222222;
      padding-bottom: 20px;
   }
   &__social img{
      margin-right: 29.95px;
   }
}

// 1024px -1239.75px
@media (min-width: 1024px) and (max-width: 1239.75px) {
   .footer{
      &__logo a{
         font-size: 36px;
      }
      &__paragraph{
         line-height: 30px;
      }
   }
}

// 768px -1023.75px
@media (min-width: 768px) and (max-width: 1023.75px) {
   .footer{
      padding-bottom: 20px;
      &__logo {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly
      }
      &__logo a{
         font-size: 33px;
      }
   }
}
// 320px -767.75px
@media (min-width: 320px) and (max-width: 767.75px) {
   .footer{
      margin-bottom: 80px;

      &__container{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
      }

      &__logo{
         padding-bottom: 80px;
         // text-align: center;
      }
      &__title{
         padding-top: 40px;
         padding-bottom: 40px;
      }
      &__links{
         display: none;
      }
      &__item{
         text-align: center;

      }
      &__paragraph{
         // width: 295px;
      }
      &__contacts{
         text-align: center;
         margin-top: 20px 0 0 0 ;
      }
      &__social{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
   }
}

