.get{
   background-color: #F9F6F5;
   height: 677px;

   &__container{
      display: flex;
      align-content: center;
      justify-content: space-between;
   }

   &__title{
      h1{
         font-weight: 500;
         font-size: 56px;
         line-height: 70px;
         color: #000000;
         max-width: 621px;
         padding-bottom: 30px;
      } 
      padding-top: 108px;
      // height: 140px;
      // width: 620px;
   }
   &__text{
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
   }
   &__form{
      padding-top: 30px;
      padding-bottom: 30px;
   }
   &__search{
      width: 326px;
      height: 48px;
      border: none;
      background: #FFFFFF;
      padding-left: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
      position: relative;
   }
   &__img{
      // max-width: calc(100% - 30px/2);
      padding-top: 50px;
   }
}

.search{
   background: url(../imgs/header/search.png);
   width: 32px;
   height: 32px;
   cursor: pointer;
   border: none;
   position: absolute;
   left: 298px;
   top: 552px;
}
