.get{
   background-color: #F9F6F5;
   height: 677px;

   &__container{
      display: flex;
      align-content: center;
      justify-content: space-between;
   }

   &__title{
      padding-top: 108px;
      h1{
         font-weight: 500;
         font-size: 56px;
         line-height: 70px;
         color: #000000;
         max-width: 621px;
         padding-bottom: 30px;
      } 
   }
   
   &__text{
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
   }
   &__form{
      padding-top: 30px;
      padding-bottom: 30px;
      width: 326px;
      position: relative;
   }
   &__search{
      width: 326px;
      height: 48px;
      border: none;
      background: #FFFFFF;
      padding-left: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
   }
   &__img{
      padding-top: 50px;
   }
}

.search{
   background: url(../imgs/header/search.png);
   width: 32px;
   height: 32px;
   cursor: pointer;
   border: none;
   position: absolute;
   left: 284px;
   top: 38px;
}

// 320px -1239.75px
@media (min-width: 320px) and (max-width: 1195.75px) {
   .get{
      &__img img{
         width: 410px;
      }
   }
}
// 768px - 1023.75px
@media (min-width: 768px) and (max-width: 1023.75px) {
   .get{
      &__title{
         padding-top: 60px;
      }
   }
}

// 320px -767.75px
@media (min-width: 320px) and (max-width: 767.75px) {
   .get{
      height: 795px;
      &__title{
         padding-top: 60px;
      }
      &__img{
         display: none;
      }
      &__text{
         width: 295px;
         text-align: justify;
      }
      &__search{
         width: 305px;
      }
      &__form{
         position: relative;
      }
      .search{
         position: absolute;
         left: 263px;
         top: 38px;
      }
      
   }
}

