header {

}
.header{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   
   &__logo{}
   &__navigation li{ 
      display: inline-block;
   }
   &__user{
   }
}