.products{
   margin-bottom: 130px;
   font-family: 'Red Hat Display',sans-serif;
   font-weight: 500;

   &__title{
      font-size: 56px;
      line-height: 70px;
      color: #000000; 
      padding-bottom: 20px;
   }
   &__discover{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
  }
   &__text {
      max-width: 714px;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
      padding-bottom: 60px;
   }
   &__more {
      font-size: 24px;
      line-height: 30px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   &__more a{
      color: #222222;
   }

   &__column{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__column--left{
      border: 1px solid rgba(104, 90, 82, 0.19);
      height: 812px;
   }

   &__column--right{
      border: 1px solid rgba(104, 90, 82, 0.19);
      height: 812px;
   }
   &__buy{
      padding-left: 30px;
   }

   &__subtitle{
      font-size: 40px;
      line-height: 60px;
      color: #222222;
      padding-top: 20.24px;
      padding-bottom: 16px;
   }
   &__description{
      max-width: 516px;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
      padding-bottom: 47.76px;
   }
   &__prise span{
      font-size: 30px;
      line-height: 32px;
      text-align: right;
      color: #222222;
   }
   
   .opacity {
      background: white;
      border: 1px solid rgba(104, 90, 82, 0.19);
      height: 56px;
      width: 148px;
      font-family: 'Red Hat Display',sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #402F2C;
      margin-left: 24px;
      margin-right: 150px;
      cursor: pointer;
   } 
}

// 1024px -1239.75px
@media (min-width: 1024px) and (max-width: 1239.75px) {

   .products{
      &__title{
         text-align: center;
         font-size: 52px;
      }
      &__column{
         display: flex;
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: center;
         -ms-flex-wrap: wrap;
         flex-wrap: wrap;
      }

      &__more{
         font-size: 20px;
      }
   }
}

// 768px - 1023.75px
// 320px - 767.75px