.shops{
   &__container{
      margin-top: 130px;
      margin-bottom: 60px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      border: 1px solid #EEEEEE;
      border-right-style: none;
      border-left-style: none;
      padding-top: 42.5px;
      padding-bottom: 42.5px;
   }
}

// 1024px -1239.75px
@media (min-width: 768px) and (max-width:1023.75) {
   .shops{
      &__container{
         margin-bottom: 45px;
      }
   }
}

// 320px - 767.75p
@media (min-width: 320px) and (max-width:767.75) {
   .shops{
      height: 300px;
      &__container{
         margin-top: 80px;
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;

      }
   }
}
