.email{
   background: #FAFAFA;
   padding-bottom: 130px;

   &__container{
      height: 218px;
      border: 1px solid #DDDDDD;
      border-right-style: none;
      border-left-style: none;
      border-top-style: none;
   }

   &__body{
      padding-top: 108px;
   }
   &__header{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
   }

   &__title{
      font-weight: 500;
      font-size: 36px;
      line-height: 46px;
      color: #222222;
   }

   &__form{
      display: flex;
      align-items: center;

   }
   &__search{
      width: 386px;
      height: 56px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #555555;
      padding-left: 18px;
   }
}

// 1024px -1239.75px
@media (min-width: 1024px) and (max-width: 1239.75px) {
   .email{
      // padding-top: 80px;
      padding-bottom: 30px;
      &__title{
         font-size: 28px;
      }
   }
}

// 768px -1023.75px
@media (min-width: 768px) and (max-width: 1023.75px) {
   .email{
      padding-bottom: 60px;

      &__body{
         padding-top: 50px;
      }

      &__header{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }

      &__title{
         padding-bottom: 30px;
      }

      &__form{

      }
      &__search{

      }
   }
}
// 320px -767.75px
@media (min-width: 320px) and (max-width: 767.75px) {
   .email{
      padding-bottom: 80px;

      &__container{
      border: none;
      }
      &__body{
      padding-top: 40px;
      width: 295px;
      }
      &__title{
         margin: 0 0 15px 0;
         text-align: center;
      }

      &__form{
         display: flex;
         flex-wrap: wrap;
      }

      &__search{
         width: 295px;
         margin: 0 0 25px 0;
         display: flex;
         flex-wrap: wrap;
      }
   }
}