section.beauty.container 
   .beauty__row 
      .beauty__column 
         h3.beauty__title The Perfect Beauty Of You
         p.beauty__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         p.beauty__text.paragraph It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         button.btn Shop Now
      img(src="./assets/imgs/products/0303.png", alt="img")


