section.benefits 
   .container
      .benefits__row 
         .benefits__column 
            h3.underline 100%
            p Organic Products
         .benefits__column 
            h3.underline 2M+
            p Yearly Sales
         .benefits__column 
            h3.underline 1.9M+
            p Happy Customar