section.comments.container 
   .comments__row 
      img.comments__client(src="./assets/imgs/person.png", alt="img")
      .comments__column
         .comments__grade
            h3.comments__title Amazing Cosmetic
            img(src="./assets/imgs/products/stars.png", alt="stars") 
         p.comments__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
         h3.comments__title Rusmin Islam
         h4.comments__subtitle Designer
         .comments__buttons
            .left 
               img(src="./assets/imgs/products/arrowleft.png", alt="arrow")
            .right
               img.righr(src="./assets/imgs/products/arrowright.png", alt="arrow")




