section.beauty.container 
   .beauty__row 
      img(src="./assets/imgs/person.png", alt="img")
      .beauty__column
         .beauty__grade
            h3.beauty__title Amazing Cosmetic
            img(src="./assets/imgs/products/stars.png", alt="stars") 
         p.beauty__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
         h3.beauty__title Rusmin Islam
         h4.beauty__subtitle Designer
         .left 
            img(src="./assets/imgs/products/arrowleft.png", alt="arrow")
         .right
            img.righr(src="./assets/imgs/products/arrowright.png", alt="arrow")




