footer.footer 
   .container.footer__container
      .footer__logo 
         a(href='#') Dudeshape
         .footer__paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      .footer__links 
         p.footer__title Quick Link
         ul.footer__item 
            li
               a(href='#') Home
            li
               a(href='#') Products
            li
               a(href='#') About Us
      .footer__contacts 
         p.footer__title Contact Us
         .footer__email 
            a(href='mailto:oyasimnaeem@email.com') oyasimnaeem@email.com
         .footer__telephone 
            p +123456789
         .footer__social 
            a(href='#')
               img(src="./assets/imgs/footer/fb.svg", alt="facebook")
               img(src="./assets/imgs/footer/tw.svg", alt="twitter")
               img(src="./assets/imgs/footer/ig.svg", alt="instagram")


