section.get
   .get__container.container
      .get__title 
         h1 Get Your Best Cosmetic Products Here
         p.get__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
         .get__form
            input.get__search(type="text"
                  placeholder="Search"
                  name="searching"
         )
            button.search 
         button.btn  Shop Now
      .get__img
         a
            img(src="./assets/imgs/header/imgheader.png", alt="img")

