header
   .container.header 
      .header__logo
         p Dudeshape
      nav.header__navigation 
         ul 
            li 
               a(href="#") Home
            li 
               a(href="#") Products
            li 
               a(href="#") About Us
            li 
               a(href="#") Contact Us
      .header__user 
            a
               img(src="./assets/imgs/nav/profile.png", alt="profile")
               img(src="./assets/imgs/nav/basket.png", alt="basket")
               img(src="./assets/imgs/nav/burger.svg", alt="burger")
