section.products.container 
   h2.products__title Our Popular Product
   .products__discover
      p.products__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      .products__more
         a(href='#') Discover Our Products
         a(href="#") 
            img(src="./assets/imgs/products/arrow.svg", alt="arrow")
   .products__row 
      .products__column
         .products__column--left 
            img(src="./assets/imgs/products/0101.png", alt="img")
            .products__buy
               h3.products__subtitle Cosmetic products
               p.products__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
               .products__prise
                  button.btn Buy Now 
                  button.opacity Add To Cart
                  span $120
         .products__column--right 
            img(src="./assets/imgs/products/0202.png", alt="img")
            .products__buy
               h3.products__subtitle Cosmetic products
               p.products__description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
               .products__prise
                  button.btn Buy Now 
                  button.opacity Add To Cart
                  span $120



