section.shops 
   .shops__container.container 
      img(src="./assets/imgs/logo/01.svg", alt="airbnb")
      img(src="./assets/imgs/logo/02.svg", alt="hubspot")
      img(src="./assets/imgs/logo/03.svg", alt="google")
      img(src="./assets/imgs/logo/04.svg", alt="microsoft")
      img(src="./assets/imgs/logo/05.svg", alt="walmart")
      img(src="./assets/imgs/logo/06.svg", alt="fedex")