section.email 
   .container.email__container
      .email__body
         .email__header
               .email__title Subscribe to Get Our Letest News
               .email__form
                  input.email__search(type="text"
                     placeholder="Enter email"
                     name="email"
                  )
                  button.btn.email__btn  Subscribe